@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", "ヒラギノ角ゴシック", sans-serif;
  color: #111111;
  line-height: 1.8;
  letter-spacing: 0.05em;
  font-size: 0.9375rem;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1rem;
  }
}

img,
svg {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: #111111;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  padding: 0 4vw;
  max-width: 1170px;
  margin: 0 auto;
}

.section-wave {
  width: 100%;
}
.section-wave--top {
  transform: translateY(1px);
}
.section-wave--bottom {
  transform: translateY(-3px);
}

.section__inner--color-reverse {
  background-color: #eb51c2;
}

.section__title {
  font-size: 2rem;
  color: #111111;
}
@media screen and (min-width: 1024px) {
  .section__title {
    font-size: 4rem;
  }
}
.section__title--rev {
  color: #fff;
}

.section__subtitle {
  font-size: 0.875rem;
  color: #eb51c2;
  margin-bottom: 30px;
  display: inline-block;
}
@media screen and (min-width: 1024px) {
  .section__subtitle {
    font-size: 1.25rem;
  }
}
.section__subtitle--rev {
  color: #fff;
}

.btn {
  display: inline-block;
  background-color: #eb51c2;
  padding: 16px 25px;
  color: #fff;
  transition: 0.4s;
  border: 1px solid #eb51c2;
  border-radius: 100px;
  font-weight: bold;
  line-height: 1;
  font-size: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 1rem;
    padding: 20px 30px;
  }
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.25rem;
    padding: 35px 50px;
  }
}
.btn:hover {
  color: #eb51c2;
  background-color: #fff;
}
.btn--rev {
  background-color: #fff;
  color: #eb51c2;
}
.btn--rev:hover {
  color: #fff;
  background-color: #eb51c2;
  border: 1px solid currentColor;
}

.btn-go-top {
  display: none;
  position: fixed;
  right: 4vw;
  bottom: 4vw;
  z-index: 10;
}
.btn-go-top__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1024px) {
  .btn-go-top__link {
    width: 80px;
    height: 80px;
  }
}
.btn-go-top__icon {
  color: #eb51c2;
  font-size: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .btn-go-top__icon {
    font-size: 4rem;
  }
}

.card {
  padding: 40px 30px 30px 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}
@media screen and (min-width: 1024px) {
  .card {
    padding: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    padding: 60px;
  }
}
.card__label {
  color: #eb51c2;
}
@media screen and (min-width: 1024px) {
  .card__label {
    font-size: 1.5rem;
  }
}
.card__label--green {
  color: #00B21B;
}
.card__title {
  margin-top: 20px;
  font-size: 1.375rem;
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
  .card__title {
    font-weight: normal;
    font-size: 2rem;
  }
}
.card__text {
  margin-top: 25px;
  font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  .sp-only {
    display: none;
  }
}

.pc-only {
  display: none;
}
@media screen and (min-width: 768px) {
  .pc-only {
    display: block;
  }
}

.scroll-anime {
  opacity: 0;
  overflow: hidden;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.downup {
  transform: translateY(50px);
}

.header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 12px 0;
  transition: 0.4s;
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 1em 0;
    height: 80px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 4vw;
  padding-right: 4vw;
}
.header--active {
  background-color: #fff;
}
.header--active .header__btn-wrraper {
  display: block;
}

.logo {
  width: 96px;
  line-height: 1;
}
.logo__link {
  display: block;
}
.logo__img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .logo {
    width: 180px;
  }
}

.header__btn-wrraper {
  display: none;
}

.header__btn {
  font-size: 0.75rem;
  padding: 12px 15px;
}
.mv {
  position: relative;
  height: 410px;
}
@media screen and (min-width: 768px) {
  .mv {
    height: 500px;
  }
}
@media screen and (min-width: 1024px) {
  .mv {
    height: 680px;
  }
}
.mv__lead-wrapper {
  position: absolute;
  top: 160px;
  left: 0;
}
@media screen and (min-width: 1024px) {
  .mv__lead-wrapper {
    left: 25%;
    transform: translateX(-25%);
  }
}
.mv__lead-title {
  font-size: 2.625rem;
  font-style: italic;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .mv__lead-title {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .mv__lead-title {
    font-size: 5.625rem;
  }
}
.mv__text-bg-color {
  background-color: #fff;
}
.mv__text-and {
  color: #eb51c2;
}
.mv__lead-subtitle {
  margin-top: 10px;
  display: inline-block;
  background-color: #fff;
  font-weight: bold;
  font-size: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .mv__lead-subtitle {
    margin-top: 15px;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .mv__lead-subtitle {
    margin-top: 20px;
    font-size: 1.75rem;
  }
}
.mv__lead-btn-wrapper {
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  .mv__lead-btn-wrapper {
    margin-top: 36px;
  }
}
.mv__bg-img {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  background-image: url(../img/bg_mv.jpg);
  background-position: center;
  background-size: cover;
  width: 66%;
  height: 100%;
  border-radius: 0 0 0 50px;
}

.bgextend {
  -webkit-animation-name: bgextendAnimeBase;
          animation-name: bgextendAnimeBase;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: relative;
  overflow: hidden; /*　はみ出た色要素を隠す　*/
  opacity: 0;
}

@-webkit-keyframes bgextendAnimeBase {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bgextendAnimeBase {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*中の要素*/
.bgappear {
  -webkit-animation-name: bgextendAnimeSecond;
          animation-name: bgextendAnimeSecond;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes bgextendAnimeSecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bgextendAnimeSecond {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*左から右*/
.bgLRextend::before {
  -webkit-animation-name: bgLRextendAnime;
          animation-name: bgLRextendAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eb51c2; /*伸びる背景色の設定*/
}

@-webkit-keyframes bgLRextendAnime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

@keyframes bgLRextendAnime {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.001% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.bgappearTrigger,
.bgLRextendTrigger {
  opacity: 0;
}

.intro {
  margin-top: -20px;
}
.intro__title {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  font-style: italic;
  color: #eb51c2;
  line-height: 1;
}
@media screen and (min-width: 1024px) {
  .intro__title {
    font-size: 6.75rem;
  }
}
.intro__subtitle {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .intro__subtitle {
    font-size: 2rem;
  }
}
.intro__subtitle-point {
  color: #eb51c2;
}
.intro__text {
  margin-top: 25px;
}
@media screen and (min-width: 1024px) {
  .intro__text {
    text-align: center;
  }
}

.training {
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  .training {
    margin-top: 36px;
    margin-bottom: 20px;
    position: relative;
  }
}

.about__img-wrapper {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .about__img-wrapper {
    width: 80%;
  }
}
@media screen and (min-width: 1440px) {
  .about__img-wrapper {
    width: 66%;
  }
}

.about__content {
  margin-top: -10px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .about__content {
    position: absolute;
    right: 4vw;
    bottom: -20px;
    width: 60%;
    padding: 0;
  }
}
@media screen and (min-width: 1440px) {
  .about__content {
    width: 44%;
  }
}
@media screen and (min-width: 1024px) {
  .about__content--reverse {
    left: 4vw;
    right: inherit;
  }
}

.food {
  margin-top: 20px;
}
@media screen and (min-width: 1024px) {
  .food {
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
}

.about__btn-wrapper {
  margin: 40px auto;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .about__btn-wrapper {
    display: none;
  }
}

.trainer__inner {
  background-color: #eb51c2;
  padding-bottom: 40px;
}

.tab {
  margin-top: 5px;
}

.tab__radio {
  display: none;
}

.tab__contents section {
  display: none;
}

.tab__btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}
.tab__btn label {
  display: block;
  position: relative;
  padding: 5px 0 14px 0;
}

#tab-1:checked ~ .tab__btn label[for=tab-1],
#tab-2:checked ~ .tab__btn label[for=tab-2] {
  font-weight: bold;
}
#tab-1:checked ~ .tab__btn label[for=tab-1]::after,
#tab-2:checked ~ .tab__btn label[for=tab-2]::after {
  content: "";
  display: inline-block;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

#tab-1:checked ~ .tab__contents .section-1,
#tab-2:checked ~ .tab__contents .section-2 {
  display: block;
}

.person__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;
}
@media screen and (min-width: 1024px) {
  .person__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.person__item {
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}
.person__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.person__text {
  font-size: 0.875rem;
  padding: 20px;
  background-color: #fff;
}

.studio {
  margin-bottom: 40px;
}

.swiper-wrap {
  position: relative;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -30px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}
@media screen and (min-width: 1024px) {
  .swiper-button-next,
.swiper-button-prev {
    width: 80px;
    height: 80px;
  }
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-family: "Material Icons Round";
  color: #eb51c2;
  font-size: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 4rem;
  }
}

.swiper-button-prev {
  left: -20px;
}
@media screen and (min-width: 1024px) {
  .swiper-button-prev {
    left: -40px;
  }
}

.swiper-button-next {
  right: -20px;
}
@media screen and (min-width: 1024px) {
  .swiper-button-next {
    right: -40px;
  }
}

.swiper-button-prev:after {
  content: "navigate_before";
}

.swiper-button-next:after {
  content: "navigate_next";
}

.swiper-pagination-bullet-active {
  background: #eb51c2;
}

.price__body {
  position: relative;
  margin: 0 -4vw;
}
@media screen and (min-width: 1024px) {
  .price__body {
    margin: 0 auto;
  }
}

.price__inner {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eb51c2;
}

.price-list {
  position: relative;
  display: flex;
  margin-top: -25px;
  padding: 25px 4vw 5px 0;
  overflow-x: auto;
}
@media screen and (min-width: 1024px) {
  .price-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 0;
    overflow-x: inherit;
    padding: 0;
  }
}
.price-list__scroll {
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: 12px;
  color: #fff;
  padding: 10px;
  transform: translateY(-50%);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 1024px) {
  .price-list__scroll {
    display: none;
  }
}
.price-list__scroll-icon {
  display: block;
  font-size: 40px;
  text-align: center;
}

.price-box {
  display: inline-block;
  position: relative;
  width: 290px;
  text-align: center;
  margin-left: 20px;
  padding: 40px 20px 0;
  border-radius: 8px;
  background-color: #fff;
}
@media screen and (min-width: 1024px) {
  .price-box {
    width: 100%;
    margin-left: 0;
  }
}
.price-box__label {
  position: absolute;
  top: -24px;
  left: 50%;
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: #eb51c2;
  padding: 10px;
  transform: translateX(-50%);
  border: 2px solid #eb51c2;
  border-radius: 50px;
  background-color: #fff;
}
.price-box__title {
  font-size: 26px;
  font-weight: bold;
  color: #eb51c2;
  margin-bottom: 10px;
}
.price-box__price {
  padding-bottom: 20px;
}
.price-box__price-price {
  font-size: 48px;
}
.price-box__price-price span {
  font-size: 40px;
}
.price-box__item {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}
.price-box__item-title {
  font-size: 18px;
  margin-bottom: 5px;
}
.price-box__item-text {
  font-weight: bold;
}

.faq {
  margin-top: 40px;
}

.faq__list {
  display: flex;
  flex-direction: column;
}

.faq__item-wrapper {
  border-bottom: 1px solid #cccccc;
  padding: 0 0 20px 20px;
}

.faq__item {
  position: relative;
  display: block;
  padding-left: 20px;
}
.faq__item--q {
  padding-top: 20px;
  cursor: pointer;
}
.faq__item--a {
  padding-top: 20px;
  display: none;
}
.faq__item--q::before, .faq__item--a::before {
  position: absolute;
  top: 9px;
  left: -20px;
  display: inline-block;
  width: 25px;
  text-align: center;
  font-size: 1.625rem;
  color: #eb51c2;
}
.faq__item--q::before {
  content: "Q";
}
.faq__item--a::before {
  content: "A";
}
.faq__item--q::after {
  position: absolute;
  top: 5px;
  right: 0;
  color: #eb51c2;
  font-size: 2em;
  font-family: "Material Icons Round";
  content: "expand_less";
  transition: 0.25s;
}
.faq__item--q.is-open::after {
  transform: rotate(180deg);
}

.contact {
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .contact {
    margin-top: 60px;
  }
}
.contact__img-wrapper {
  width: 100%;
}
.contact__body {
  background-color: #eb51c2;
  text-align: center;
}
.contact__msg {
  font-size: 1.625rem;
  color: #fff;
  padding: 28px 0 10px 0;
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
  .contact__msg {
    font-size: 4rem;
    padding: 50px 0 20px 0;
  }
}
.contact__btn-wrapper {
  padding-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .contact__btn-wrapper {
    padding-bottom: 50px;
  }
}

.footer {
  padding: 50px 0;
  background-color: #111;
}
@media screen and (min-width: 1024px) {
  .footer {
    padding: 100px 0;
  }
}
.footer__img-link {
  display: block;
  line-height: 1;
}
.footer__img-wrapper {
  margin: 0 auto;
  width: 87px;
}
@media screen and (min-width: 1024px) {
  .footer__img-wrapper {
    width: 180px;
  }
}
/*# sourceMappingURL=style.css.map */