$root-font-size: 16;

$font-family: "Josefin Sans", "ヒラギノ角ゴシック", sans-serif;

$color-main: #eb51c2;
$color-green: #00B21B;
$color-bg-dark: #111111;
$color-font-base: #111111;

$padding-content: 4vw;
$padding-content-negative: -4vw;